# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

.idea/

# Lambda build artifacts
*.zip
__pycache__/
*.pyc

# macOS
.DS_Store

# Secrets
.secrets/
sa.json
!package.json
!tsconfig.json
!definition.json
